.projects-maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: -5.5rem;
}

.projects-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(9, 7, 69);
  font-size: 3rem;
  font-weight: 700;
}

.featured-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  height: fit-content;
  padding-top: 2rem;
}

.featured-projects-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(9, 7, 69);
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.video {
  position: 'relative';
  padding-bottom: '56.25%';
  height: 0;
  overflow: 'hidden';
}

.featured-projects-description {
  max-width: 50%;
  text-align: center;
}

.projects-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  padding-top: 2rem;
}

.card-container {
  /* width: 17rem;
    height: 18rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(9, 7, 69);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card-content {
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.card-description {
  font-size: 1rem;
  /* font-weight: 400; */
  text-align: center;
  width: 18rem;
}

.card-button {
  background-color: rgb(198, 197, 197);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(255, 230, 0);
  /* color: white; */
  transform: scale(1.05);
}

.project-types {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}
