* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #ffffff;
  overflow: #ffffff;
  overflow-y: scroll;
}

/* index.css or App.css */
:root {
  --primary-color: #001d3d;
  --light-blue-color: #003566;
  --light-yellow-color: rgb(255, 230, 0);
  --dark-yellow-color: #ffc300;
}