.robots-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
}


.robots-description {
    text-align: center;
    margin-bottom: 20px;
}

.robots-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(9, 7, 69);
}

.robots-description-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    color: rgb(9, 7, 69);
}

.robots-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }


  .robots-text {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    flex-shrink: 0;
    max-width: 50%;
    align-items: center;
    gap: 1rem;
  }

  .robots-description {
    text-align: left; /* changed from center */
    margin-bottom: 20px;
}

.robots-text {
    align-items: flex-start; /* changed from center */
    text-align: left;
}