.sponsor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  padding: 1rem 1rem;
}

.sponsor-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sponsor-title1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}

.sponsor-title2 {
  padding-top: 0.8rem;
  font-size: 1rem;
  max-width: 80%;
  color: var(--light-blue-color);
}

.sponsor-button {
  color: rgb(0, 0, 0);
  padding: 0.75rem 0.75rem;
  letter-spacing: 1px;
  display: flex;
  margin: 1rem 1rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  margin: 1.5rem 0;
  background-color: var(--light-yellow-color);
  transition: transform 0.3s ease-in-out;
  transition: background-color 0.3s ease;
}

.sponsor-button:hover {
  transform: scale(1.05);
  background-color: var(--dark-yellow-color);
}

.scroll-main {
  margin-top: 2rem;
}

@media screen and (max-width: 1000px) {
  .sponsor-title1 {
    font-size: 2.5rem;
  }
}
