.sponsor-section {
  height: fit-content;
  overflow: hidden;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
}

.scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding: 1rem 0;
}

.scroll-track {
  display: flex;
  gap: 1rem;
  /*animation: scroll 7s linear infinite; */
}

.scroll-img {
  height: 5rem;
  width: auto;
  margin: 0 1rem;
  flex-shrink: 0;
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-title {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.scroll-title2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #001d3d;
}

.scroll-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #003566;
}

@media (min-width: 769px) and (max-width: 1024px) {

  .scroll-title2 {
    font-size: 2.5rem;
  }

  .scroll-subtitle {
    font-size: 0.95rem;
    max-width: 75%;
  }
}

/* Mobile screens */
@media (max-width: 768px) {

  .scroll-title2 {
    font-size: 2rem;
  }

  .scroll-subtitle {
    font-size: 0.9rem;
    max-width: 90%;
    margin-top: 1rem;
  }
}
