.projects-mechanical-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  height: fit-content;
  padding-top: 2rem;
  align-items: center;
}

.title-container {
  text-align: center;
}

.projects-mechanical-title {
  color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: 700;
}

.projects-mechanical-key-point {
  background-color: var(--light-yellow-color);
  height: 3rem;
  width: 80%;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.projects-mechanical-key-point:hover {
  background-color: #ffce2d;
  transform: scale(1.05);
  opacity: 1;
}


@media screen and (max-width: 1000px) {


  .projects-mechanical-content {
    flex-direction: column;
  }

  .projects-mechanical-text {
    max-width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .projects-mechanical-key-point {
    width: 20rem;
  }
}